<!DOCTYPE html>
<html>

<head>
    <title>Chat App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="./css/project.css" />
</head>

<body>
    <div class="container">
        <header>
            <h1>Chat App</h1>
            <a href="/profile">Home</a>
            <a href="/about">About Author</a>
            <a href="/project">About project</a>
            <a href="/auth/logout">Log out</a>
        </header>

        <hr />
        <div class="container SingleBlog_center__2vR6X">
            <h2>Building a multiroom chat application in Node&nbsp;JS</h2>
            <div class="SingleBlog_avatar__1PqrR">
                <p>Deepak prasad</p>
                <p>2020-08-12 04:32:09</p>
            </div>

        </div>
    </div>
</body>

</html>